<template>
    <div class="pl-feed">
        <div>
            <!-- <pl-advise title="PEDIDOS FINALIZADOS" Subtext="Confira todas as suas transações já realizadas">
            </pl-advise> -->
            <pl-advise title="TODOS LEILÕES" Subtext="Confira aqui todos os leilões abertos">
            </pl-advise>

        </div>    
        
        <div v-if="!isMobile()">
            <pl-table class="container" :data='auctions'>
            </pl-table>
        </div>
        <div v-else>
            <pl-table-mobile class="container" :data='auctions'>
            </pl-table-mobile> 
        </div>
        <pl-questions title="Perguntas frequentes"></pl-questions>
    </div>
</template>
<script>
/* eslint-disable */ 
import PLTitle from '@/components/atoms/pl-title';
import PLAdvise from '@/components/sections/pl-advise';
import PLTable from '@/components/sections/pl-table';
import PLTableMobile from '@/components/sections/pl-table-mobile';
import PLQuestions from '@/components/sections/pl-questions';

export default {
    components: {
        'pl-title': PLTitle,
        'pl-advise': PLAdvise,
        'pl-table': PLTable,
        'pl-questions': PLQuestions,
        'pl-table-mobile': PLTableMobile
    },
    data: () => ({
        auctions: [],
        showModal: false,
    }),
    methods: {
        isMobile() {
            if(window.innerWidth <= 1000) {
                return true
            } else {
                return false
            }
        }
    },
    async created() {
        await this.$store.commit('auction/setFilters', { status : 1, include: "fuel,port.unit,auctions,bids" });
        this.$store.dispatch('auction/fetchLot').then(auctions => {
            this.auctions = auctions;
        });
    }
}
</script>
<style lang="scss">
.pl-feed{
    @include grid-container();
    font-family: 'Barlow', sans-serif;
    &__row{
        width: 100%;
        height: 100px;
        border: 1px solid black;
        display: block;
    }
}
</style>
