<template>
    <transition name="pl-modal-terms" id="modal-terms">
        <div class="pl-modal-terms__backdrop">
            <div class="pl-modal-terms__body">
                <div class="pl-modal-terms__header">
                    <div class="pl-modal-terms__header--title">
                        <pl-title>Termos e Condições</pl-title>
                        <p>Verifique todos os detalhes para poder aceitar</p>
                    </div>
                    <div class="pl-modal-terms__header--btn">
                        <button id="btn-close-modal" @click="$emit('close')">
                            <img src="images/icons/other-icons/close-modal.svg" alt="">
                        </button>
                    </div>   
                </div>
                <div class="pl-modal-terms__content">
                    <h2>INSTRUMENTO CONTRATUAL DE ADESÃO E CONTRATAÇÃO DOS SERVIÇOS OFERECIDOS PELO “POSTO LIVRE – Atividades e Serviços de Internet Ltda.” (POSTO LIVRE) – postolivre.com</h2>
                    <h2>- CONTRATO DE USO DO POSTO LIVRE -</h2>

<p>Este “Contrato de Uso do Posto Livre” aplica-se ao uso dos serviços oferecidos pelo “POSTO LIVRE – Atividades e Serviços de Internet Ltda.” (POSTO LIVRE), doravante nominado POSTO LIVRE, por meio do site www.postolivre.com.</p>
 
<p>A aceitação deste “Contrato de Uso do Posto Livre” é absolutamente indispensável à utilização do site e serviços prestados pelo POSTO LIVRE.</p>
 
<p>O usuário deverá ler, certificar-se de haver entendido e aceitar todas as condições estabelecidas no “Contrato de Uso do Posto Livre”, antes de seu cadastro como usuário do POSTO LIVRE.</p>
 
<p>É muito importante que conheça as nossas políticas e, por esta razão, é necessário que leia e compreenda o “Contrato de Uso do Posto Livre”, firmadas no presente Instrumento Contratual, bem como a leitura das cláusulas que viabilizam a contratação e as limitativas de direitos, aqui destacadas:</p>
 
<p>CLÁUSULA PRIMEIRA – DO OBJETO – O serviço objeto do presente “Contrato de Uso do Posto Livre” consiste em criar e ofertar ambiente virtual de negócios (marketplace) que viabilize o encontro e a atividade de mercancia entre distribuidores de combustíveis e derivados de combustíveis, doravante denominados DISTRIBUIDOR(ES), e revendedores varejistas de combustíveis e derivados de combustíveis (postos de combustíveis), doravante denominados REVENDEDOR(ES). O POSTO LIVRE, portanto, possibilita que os revendedores varejistas de combustíveis e derivados de combustíveis, de forma coletiva, contatem e negociem com os distribuidores de combustíveis e derivados de combustíveis, diretamente, sem qualquer intervenção do POSTO LIVRE, na negociação ou na concretização dos negócios. </p>
 
<p>PARÁGRAFO ÚNICO – O POSTO LIVRE não fornece qualquer produto negociado pelos DISTRIBUIDORES e REVENDEDORES no site, nem possui quaisquer responsabilidades no ato da negociação e suas consequências.</p>
 
<p>CLÁUSULA SEGUNDA – OPERAÇÃO NEGOCIAL E FORMA DE PAGAMENTO AO POSTO LIVRE – As operações negociais havidas entre DISTRIBUIDORES e REVENDEDORES dar-se-ão da seguinte maneira: a) o REVENDEDOR, regularmente cadastrado na plataforma digital POSTO LIVRE, manifestará, entre às 12h (doze horas) e às 16h59min59s (dezesseis horas, cinquenta e nove minutos e cinquenta e nove segundos), a intenção de adquirir determinado tipo de combustível ou derivado de combustível exposto como opção nos campos da referida plataforma, indicando a quantidade desejada na unidade de medida “litro”, bem como a opção pela modalidade do frete FOB (Free on Bord) e o local de retirada do combustível (Terminal de Retirada do Combustível); b) após o REVENDEDOR formular o seu pedido de acordo com as indicações estabelecidas no item “a”, o seu pedido de compra ficará armazenado conjuntamente com os demais pedidos de compras com especificações iguais quanto ao tipo de combustível escolhido e o local de retirada feitos por outros REVENDEDORES, formando um pedido de compra coletiva; c) uma vez encerrado o período de pedido de compra formulado pelos REVENDEDORES, fecham-se os pedidos de compra e inicia-se, automaticamente, às 17h (dezessete horas), o período de lances de menor preço ofertados pelos DISTRIBUIDORES, findando-se às 8h59min59s (oito horas, cinquenta e nove minutos e cinquenta e nove segundos) do dia imediatamente subsequente. Ao final do período de lances de menor preço, o DISTRIBUIDOR que ofertar o lance com o menor preço, arrematará todo o pedido de compra coletiva relativo ao tipo de combustível e o local de retirada indicados no respectivo pedido de compra coletiva; d) ao término do prazo acima estabelecido e tendo sido definido o DISTRIBUIDOR arrematante do pedido de compra coletiva, cada REVENDEDOR transferirá ou depositará, antecipadamente, até às 14h (quatorze horas) do mesmo dia em que se encerraram os lances de menor preço, em favor do DISTRIBUIDOR arrematante, o valor integral correspondente ao seu pedido de compra individual, devendo anexar comprovante bancário de transferência ou depósito do valor citado no campo específico na plataforma POSTO LIVRE; e) por sua vez, o DISTRIBUIDOR arrematante, tão logo tome ciência do pagamento do pedido de compra individual feito pelo REVENDEDOR, acusará o recebimento deste pagamento em campo específico na plataforma POSTO LIVRE, disponibilizando, imediatamente, o combustível comprado pelo REVENDEDOR; f) no primeiro dia útil do mês subsequente às negociações, o POSTO LIVRE encaminhará mensagem para os e-mails cadastrados pelo DISTRIBUIDOR e pelo REVENDEDOR, contendo relatório mensal das negociações efetuadas por cada um, bem como boleto bancário para o REVENDEDOR, para pagamento da comissão devida ao POSTO LIVRE pelas negociações efetuadas através de sua plataforma digital, conforme estabelecido no presente “Contrato de Uso do Posto Livre”; g) os referidos boletos bancários deverão ser quitados em até 05 (cinco) dias após o seu recebimento, sendo prorrogado tal prazo para o primeiro dia útil seguinte, caso coincida com feriado ou fim de semana; h) na hipótese de não quitação dos referidos boletos bancários no prazo acima determinado, haverá imediata suspensão do cadastro e da conta do usuário inadimplente, até que seja regularizada a situação; i) após 30 (trinta) dias de inadimplência, o título será levado a protesto, sendo incluídos no mesmo atualização monetária pelo IGP-M (Índice Geral de Preços do Mercado) ou outro indexador que o substitua, além de juros de 1% (um por cento) ao mês e multa de 10% (dez por cento) sobre o valor da dívida; j) após o decurso de 90 (noventa) dias, o cadastro e a conta do usuário inadimplente serão definitivamente excluídos, facultando-se ao POSTO LIVRE as providências de cobrança junto ao Poder Judiciário; k) o cadastro e a abertura de conta dos DISTRIBUIDORES e dos REVENDEDORES no POSTO LIVRE são gratuitos. </p>
 
<p>PARÁGRAFO ÚNICO – Enquanto o tempo para formulação dos pedidos de compra estiver em aberto, o REVENDEDOR poderá desistir do pedido. Encerrado o período de tempo destinado à formulação dos pedidos, o REVENDEDOR não mais poderá cancelá-lo.</p>
<p> </p>
 
<p>CLÁUSULA TERCEIRA – CAPACIDADE PARA SE CADASTRAR – Os serviços do POSTO LIVRE estão disponíveis apenas para as pessoas jurídicas que estejam regularizadas para as suas respectivas atividades mercantis nos termos da legislação regente e, portanto, que tenham capacidade legal para contratá-los.</p>
 
<p>PARÁGRAFO PRIMEIRO – Eventuais irregularidades de naturezas constitutiva, regulamentar, de licenciamento ou de qualquer ordem dos DISTRIBUIDORES e dos REVENDEDORES não serão de responsabilidade do POSTO LIVRE.</p>
 
<p>PARÁGRAFO SEGUNDO – É proibido o cadastro de usuários que não sejam representantes legais de pessoas jurídicas, bem como de usuários que tenham sido suspensos do POSTO LIVRE, sem prejuízo da aplicação das sanções legais previstas no Código Civil Brasileiro, notadamente, nos artigos 166, I; 171, I; e 180.</p>
 
<p>CLÁUSULA QUARTA – DO CADASTRO – Apenas será confirmado o cadastramento do usuário que preencher todos os campos obrigatórios do cadastro, com informações exatas, precisas e verdadeiras, nos termos da lei. O usuário declara e assume o compromisso de atualizar os dados inseridos em seu cadastro sempre que for necessário e/ou demandado pelo POSTO LIVRE, sob pena de suspensão de seu cadastro na plataforma digital.</p>
 
<p>PARÁGRAFO PRIMEIRO – Ao se cadastrar no POSTO LIVRE, o usuário poderá utilizar os serviços ali disponibilizados, declarando, para tanto, ter lido, compreendido e aceitado o presente “Contrato de Uso do Posto Livre”.</p>
 
<p>PARÁGRAFO SEGUNDO – O usuário acessará sua conta através de e-mail ou apelido (login) e senha e compromete-se a não informar a terceiros esses dados, responsabilizando-se, integralmente, pelo uso que deles seja feito.</p>
 
<p>PARÁGRAFO TERCEIRO – O POSTO LIVRE não se responsabiliza pela correção dos dados pessoais inseridos por seus usuários. Os usuários garantem e respondem, em qualquer caso, civil e criminalmente, pela veracidade, exatidão e autenticidade dos dados cadastrados.</p>
 
<p>PARÁGRAFO QUARTO – O apelido que o usuário utiliza no POSTO LIVRE não poderá guardar semelhança com o nome POSTO LIVRE, suas marcas e nomes de domínio ou outro bem de propriedade intelectual, tampouco poderá ser utilizado qualquer apelido que insinue ou sugira que os serviços anunciados pertencem ou tenham qualquer relação com o POSTO LIVRE.</p>
 
<p>PARÁGRAFO QUINTO – Também serão excluídos apelidos considerados ofensivos, bem como os que contenham alguma URL ou endereço eletrônico.</p>
 
<p>PARÁGRAFO SEXTO – O POSTO LIVRE se reserva no direito de recusar qualquer solicitação de cadastro e de suspender um cadastro previamente aceito, que esteja em desacordo com as políticas e regras do presente “Contrato de Uso do Posto Livre”.</p>
 
<p>PARÁGRAFO SÉTIMO – O POSTO LIVRE poderá, a seu exclusivo critério, realizar as buscas que julgar necessárias para apurar dados incorretos ou inverídicos, solicitar dados adicionais e documentos que estime serem pertinentes, a fim de conferir os dados pessoais informados e, ainda, recorrer à base de dados públicas ou privadas, respeitando as regras de sigilos, podendo o usuário editá-las caso entenda que tais dados não estejam atualizados. </p>
 
<p>PARÁGRAFO OITAVO – É facultado ao POSTO LIVRE checar a veracidade dos dados cadastrais de um usuário e, caso constate haver, entre os mesmos, incorreção ou inveracidade, poderá recorrer, respeitando as regras de sigilos, a dados publicamente disponíveis ou a bases de dados comerciais para alterar ou enriquecer os dados pessoais então inseridos. Caso o usuário se furte ou se negue a enviar os documentos necessários à sua regularização cadastral, o POSTO LIVRE poderá suspender temporariamente ou excluir a respectiva conta, sem prejuízo de outras medidas legais que entender necessárias e oportunas.</p>
 
<p>PARÁGRAFO NONO – Em caso de violação ou de descumprimento de quaisquer das regras e dos requisitos estabelecidos no presente “Contrato de Uso do Posto Livre”, o POSTO LIVRE poderá suspender temporariamente, ou mesmo, excluir o cadastro e a conta do usuário, não lhe assistindo, por essa razão, qualquer direito à indenização ou a ressarcimento de qualquer natureza.</p>
 
<p>PARÁGRAFO DÉCIMO – O usuário compromete-se a notificar o POSTO LIVRE imediatamente, através de e-mail, a respeito de qualquer uso não autorizado de sua conta, bem como seu acesso não autorizado por terceiros. O usuário será o único responsável pelas operações efetuadas em sua conta, uma vez que o acesso somente será possível mediante a inclusão da senha, que deverá ser de conhecimento e propriedade exclusiva do usuário.</p>
 
<p>PARÁGRAFO DÉCIMO PRIMEIRO – Em nenhuma hipótese será permitido ao usuário cessão para terceiros, venda, aluguel ou outra forma de transferência de sua conta pessoal. Também não se permitirá a manutenção de mais de um cadastro por uma mesma pessoa jurídica, ou ainda a criação de novos cadastros por pessoas jurídicas cujos cadastros originais tenham sido suspensos temporariamente, enquanto durar a suspensão, ou excluídos por infrações ao “Contrato de Uso do Posto Livre”.</p>
 
<p>CLÁUSULA QUINTA – MODIFICAÇÕES DO “CONTRATO DE USO DO POSTO LIVRE” – O POSTO LIVRE poderá alterar, a qualquer tempo, este “Contrato de Uso do Posto Livre”, visando o aprimoramento e a melhoria dos serviços prestados. O novo “Contrato de Uso do Posto Livre” entrará em vigor 10 (dez) dias após sua publicação no site. No prazo de 05 (cinco) dias contados a partir da publicação da nova versão, o usuário deverá comunicar ao POSTO LIVRE, através de e-mail, na hipótese de não concordar com os mesmos. Nesse caso, o usuário terá o seu cadastro cancelado; por conseguinte, sua conta excluída, sem prejuízo da cobrança judicial ou extrajudicial de eventuais dívidas em aberto. Não havendo a referida manifestação no prazo estipulado, entender-se-á que o usuário aceitou, integralmente, o novo “Contrato de Uso do Posto Livre”, mantendo-se ativos os seus cadastro e conta pessoal.</p>
<p>PARÁGRAFO ÚNICO – As alterações não vigorarão em relação às negociações já iniciadas antes de sua publicação, permanecendo, neste caso, vigente a redação anterior do “Contrato de Uso do Posto Livre”.</p>
 
<p>CLÁUSULA SEXTA – PRODUTOS NEGOCIADOS PELOS DISTRIBUIDORES E REVENDEDORES – Os produtos negociados no POSTO LIVRE entre os DISTRIBUIDORES e os REVENDEDORES são os seguintes: Gasolina Comum, Gasolina Aditivada, Etanol, Diesel S10 e Diesel S500.</p>
<p> </p>
<p>PARÁGRAFO ÚNICO – O DISTRIBUIDOR, ao iniciar a negociação, obrigatoriamente, deverá dispor do produto, na quantidade indicada no respectivo pedido de compra coletiva formulado pelos REVENDEDORES, possuindo em estoque a quantidade suficiente para cumprimento imediato da negociação.</p>
 
<p>CLÁUSULA SÉTIMA – RESPONSABILIDADE PELO PAGAMENTO – O pagamento oriundo da transação comercial entre DISTRIBUIDOR e REVENDEDOR é de inteira reponsabilidade deste, não havendo qualquer envolvimento e/ou responsabilidade pelo pagamento por parte do POSTO LIVRE.</p>
 
<p>PARÁGRAFO ÚNICO – Caso o REVENDEDOR não efetue o pagamento integral do seu pedido formulado, terá o seu login imediatamente suspenso da plataforma digital POSTO LIVRE, e, se for o caso, sofrerá cobrança forçada, acrescida de multa, juros e indenizações pertinentes pela parte prejudicada, somente podendo utilizar, novamente, a plataforma digital POSTO LIVRE após a total quitação de sua dívida. </p>
 
<p>CLÁUSULA OITAVA – PRODUTOS PROIBIDOS – Não será permitida a comercialização de quaisquer outros produtos que não sejam combustíveis e seus derivados, conforme disponibilização nos campos da plataforma digital POSTO LIVRE.</p>
 
<p>CLÁUSULA NONA – PRIVACIDADE DA INFORMAÇÃO – Toda informação ou dado pessoal do DISTRIBUIDOR e do REVENDEDOR é armazenado em servidores protegidos em ambiente criptografado. Salvo com relação às informações que são publicadas no site, o POSTO LIVRE adotará todas as medidas possíveis para manter a confidencialidade e a segurança das informações sigilosas, porém, não se responsabilizará por eventuais prejuízos que sejam decorrentes da divulgação de tais informações por parte de terceiros (hackers, piratas cibernéticos etc.) que utilizem as redes públicas ou a internet, subvertendo os sistemas de segurança para acessar as informações do DISTRIBUIDOR e do REVENDEDOR.</p>
 
<p>PARÁGRAFO ÚNICO – O DISTRIBUIDOR e o REVENDEDOR expressamente autorizam que suas informações e dados pessoais sejam compartilhados pelo POSTO LIVRE com membros do Programa de Proteção à Propriedade Intelectual, autoridades e pessoas físicas ou jurídicas que aleguem ter sido lesadas por usuários, desde que mediante determinação judicial.</p>
 
<p>CLÁUSULA DÉCIMA – OBRIGAÇÕES DO REVENDEDOR – O REVENDEDOR, regularmente cadastrado na plataforma digital POSTO LIVRE manifestará, entre às 12h (doze horas) e às 16h59min59s (dezesseis horas, cinquenta e nove minutos e cinquenta e nove segundos), a intenção de adquirir determinado tipo de combustível ou derivado de combustível exposto como opção nos campos da referida plataforma, indicando a quantidade desejada na unidade de medida “litro”, bem como a opção pela modalidade do frete FOB (Free on Bord) e o local de retirada do combustível (Terminal de Retirada do Combustível).</p>
 
<p>PARÁGRAFO PRIMEIRO – Enquanto o tempo para formulação dos pedidos de compra estiver em aberto, o REVENDEDOR poderá desistir do pedido. Encerrado o período de tempo destinado à formulação dos pedidos, o REVENDEDOR não mais poderá cancelá-lo.</p>
 
<p>PARÁGRAFO SEGUNDO – Ao manifestar o interesse em algum produto, o REVENDEDOR obriga-se a atender às condições da negociação, não cabendo ao POSTO LIVRE qualquer responsabilidade por eventuais quebras de acordo referentes ao pagamento, inexistindo, portanto, qualquer direito a indenizações e/ou ressarcimentos ao prejudicado em face do POSTO LIVRE.</p>
 
<p>PARÁGRAFO TERCEIRO – O POSTO LIVRE não tem qualquer responsabilidade tributária, seja por obrigação principal ou acessória, que recaia sobre as atividades mercantis fomentadas pelos DISTRIBUIDORES e pelos REVENDEDORES. Assim como estabelece a legislação pertinente em vigor, o REVENDEDOR deverá exigir do DISTRIBUIDOR os documentos fiscais atinentes à negociação respectiva, e este, por sua vez, tem a obrigação de emitir notas, cupons e quaisquer outros documentos fiscais exigidos pela legislação regente da matéria, sob pena de suspensão do cadastro e da conta do negociante que infringir as regras fiscais e tributárias.</p>
 
<p>PARÁGRAFO QUARTO – O POSTO LIVRE não possui qualquer responsabilidade pela entrega do produto comercializado, inexistindo qualquer direito a indenizações e a ressarcimentos em face do POSTO LIVRE.</p>
 
<p>PARÁGRAFO QUINTO – Da mesma forma, não há quaisquer ingerências e/ou responsabilidades do POSTO LIVRE por eventuais quebras de acordo de qualquer natureza havidas entre DISTRIBUIDOR e REVENDEDOR, de modo a inexistir ao prejudicado qualquer direito a indenizações e/ou ressarcimentos em face do POSTO LIVRE.</p>
 
<p>PARÁGRAFO SEXTO – O REVENDEDOR obrigar-se-á a pagar ao POSTO LIVRE o valor de R$ 0,005 (cinco milésimos de Real) por cada litro do produto negociado entre o DISTRIBUIDOR e o REVENDEDOR.</p>
 
<p>PARÁGRAFO SÉTIMO – No primeiro dia útil do mês subsequente às negociações, o POSTO LIVRE encaminhará mensagem para o e-mail cadastrado pelo REVENDEDOR, contendo relatório mensal das negociações efetuadas por ele, bem como boleto bancário para pagamento da comissão devida ao POSTO LIVRE pelas negociações efetuadas através de sua plataforma digital. O referido boleto bancário deverá ser quitado em até 05 (cinco) dias após o seu recebimento, sendo prorrogado tal prazo para o primeiro dia útil seguinte, caso coincida com feriado ou fim de semana.</p>
 
<p>PARÁGRAFO OITAVO – Na hipótese de não quitação do pagamento da comissão devida ao POSTO LIVRE no prazo acima determinado, haverá imediata suspensão do cadastro e da conta do usuário inadimplente, até que seja regularizada a situação. Após 30 (trinta) dias de inadimplência, o título será levado a protesto, sendo incluídos no mesmo atualização monetária pelo IGP-M (Índice Geral de Preços do Mercado) ou outro indexador que o substitua, além de juros de 1% (um por cento) ao mês e multa de 10% (dez por cento) sobre o valor da dívida. Após o decurso de 90 (noventa) dias, o cadastro e a conta do usuário inadimplente serão definitivamente excluídos, facultando-se ao POSTO LIVRE as providências de cobrança junto ao Poder Judiciário</p>
 
<p>CLÁUSULA DÉCIMA PRIMEIRRA – AUSÊNCIA DE RESPONSABILIDADES DO POSTO LIVRE ORIUNDAS DAS OPERAÇÕES NEGOCIAIS ENTRE DISTRIBUIDORES E REVENDEDORES – Em virtude de o POSTO LIVRE não figurar como parte nas negociações de compra e venda de produtos que se realizam entre os DISTRIBUIDORES e REVENDEDORES, a responsabilidade por todas as obrigações decorrentes, sejam fiscais, tributárias, trabalhistas, previdenciárias, consumeristas, contratuais ou de qualquer outra natureza, será exclusivamente daqueles. Assim, o DISTRIBUIDOR ou o REVENDEDOR declara e reconhece que na hipótese de o POSTO LIVRE vir a ser demandado judicialmente, ou tenha contra ele reclamação em qualquer instância da administração pública federal, estadual, distrital e/ou municipal, os valores relativos às condenações, acordos, despesas processuais e honorários advocatícios dispendidos pelo POSTO LIVRE serão de responsabilidade do usuário que deu causa.</p>
 
<p>PARÁGRAFO PRIMEIRO – Por não figurar como parte nas negociações de compra e venda que se realizam entre DISTRIBUIDORES e REVENDEDORES, o POSTO LIVRE também não pode obrigar os DISTRIBUIDORES e REVENDEDORES a honrarem as obrigações decorrentes das negociações havida entre ambos.</p>
 
<p>PARÁGRAFO SEGUNDO – Uma vez que a negociação entre DISTRIBUIDOR e REVENDEDOR tenha sido registrada e encerrada no sistema do POSTO LIVRE, ainda que haja descumprimento de quaisquer obrigações decorrentes da negociação perpetrado por quaisquer dos usuários, será devida ao POSTO LIVRE, a comissão a ser paga pelo REVENDEDOR, nos termos acima determinados. </p>
 
<p>CLÁUSULA DÉCIMA SEGUNDA – Por razões de segurança, a conta do DISTRIBUIDOR ou do REVENDEDOR poderá ser suspensa, a critério do POSTO LIVRE, caso este suspeite de qualquer ilegitimidade, fraude ou qualquer outro ato contrário às disposições da lei e do presente “Contrato de Uso do Posto Livre”.</p>
 
<p>CLÁUSULA DÉCIMA TERCEIRA –  PRÁTICAS VEDADAS – Os usuários não poderão, entre outras atitudes previstas neste “Contrato de Uso do Posto Livre”: a) ofertar produtos, fixando seus preços acima do praticado no mercado no momento do lance, a ponto de torná-los não competitivos; b) interferir nas negociações entre outros usuários; c) manter algum tipo de comunicação direta, por e-mail ou por qualquer outra forma, com usuário que potencialmente seja a sua contraparte em uma negociação, após manifestada a intenção de compra por parte do REVENDEDOR;  d) agredir, caluniar, injuriar ou difamar outros usuários.</p>
 
<p>PARÁGRAFO ÚNICO – Estes tipos de comportamento poderão ser sancionados com a suspensão temporária do seu cadastro e da sua conta como usuário do POSTO LIVRE, ou cancelamento dos mesmos em caso de reincidência, sem prejuízo das ações legais que possam ocorrer pela configuração de delitos ou contravenções ou os prejuízos civis que possam causar aos usuários, ao POSTO LIVRE ou a terceiros.</p>
 
<p>CLÁUSULA DÉCIMA QUARTA – VIOLAÇÃO DO SISTEMA OU DA BASE DE DADOS – Não é permitida a utilização de nenhum dispositivo, software ou outro recurso que venha a interferir nas atividades e operações do POSTO LIVRE, bem como nas descrições, contas ou nos seus bancos de dados. Qualquer intromissão, tentativa ou atividade que viole ou contrarie as leis de direito de propriedade intelectual, a Lei Geral de Proteção de Dados Pessoais, demais legislações pertinentes e/ou as proibições estipuladas neste “Contrato de Uso do Posto Livre”, tornarão o responsável passível das ações legais pertinentes, bem como das sanções aqui previstas, sendo ainda responsável pelas indenizações por eventuais danos causados.</p>
 
<p>CLÁUSULA DÉCIMA QUINTA – SANÇÕES – O POSTO LIVRE poderá advertir, suspender temporariamente ou cancelar o cadastro e a conta de um usuário, sem prejuízo do ajuizamento das ações cabíveis, judicial e extrajudicialmente, se: a) o usuário não cumprir qualquer dispositivo deste “Contrato de Uso do Posto Livre” e demais políticas do POSTO LIVRE; b) se descumprir com seus respectivos deveres de usuário; c) se praticar atos fraudulentos, dolosos, simulados ou dissimulados; d) se não puder ser verificada a identidade do usuário ou se qualquer informação fornecida por ele estiver incorreta; e) se o POSTO LIVRE entender que qualquer atitude do usuário tenha causado algum dano a terceiros ou ao próprio POSTO LIVRE ou tenha a potencialidade lesiva de assim o fazer. </p>
 
<p>CLÁUSULA DÉCIMA SEXTA – O POSTO LIVRE reserva-se no direito de, a qualquer momento e a seu exclusivo critério, solicitar o envio de documentação do usuário, a ser encaminhada através de link disponibilizado no sistema.</p>
 
<p>CLÁUSULA DÉCIMA SÉTIMA – O POSTO LIVRE não se responsabiliza por vícios ou defeitos técnicos e/ou operacionais oriundos do sistema do DISTRIBUIDOR e/ou do REVENDEDOR.</p>
 
<p>CLÁUSULA DÉCIMA OITAVA– O POSTO LIVRE não é o proprietário dos produtos ofertados em sua plataforma digital, tampouco tem a posse desses itens e/ou realiza as ofertas de venda, bem como não intervém na entrega dos produtos, nos ajustes e recebimentos de pagamentos ou por qualquer outro aspecto da negociação havida.</p>
 
<p>PARÁGRAFO PRIMEIRO – O POSTO LIVRE não se responsabiliza, por conseguinte, pela existência, quantidade, qualidade, estado, armazenamento, entrega, integridade, ou legitimidade dos produtos negociados.</p>
<p>PARÁGRAFO SEGUNDO – Cada REVENDEDOR conhece e aceita ser o único responsável pelos produtos negociados por si.</p>
 
<p>CLÁUSULA DÉCIMA NONA – O POSTO LIVRE não tem qualquer responsabilidade e/ou ingerência pelo pedido de compra, individual ou coletivo, apresentado pelo(s) REVENDEDOR(ES).</p>
 
<p>CLÁUSULA VIGÉSIMA – O POSTO LIVRE, uma vez concluída a negociação entre DISTRIBUIDOR e REVENDEDOR, não tem qualquer responsabilidade pela efetuação do pagamento, pela retirada do combustível no respectivo Terminal de Retirada, ou por quaisquer outros aspectos da negociação havida.</p>
 
<p>CLÁUSULA VIGÉSIMA PRIMEIRA – O POSTO LIVRE não se responsabiliza pela capacidade para contratar dos DISTRIBUIDORES e dos REVENDEDORES, ou pela veracidade dos dados pessoais por eles inseridos em seus cadastros. </p>
 
<p>CLÁUSULA VIGÉSIMA SEGUNDA– O POSTO LIVRE não outorga garantia por vícios ocultos ou aparentes nas negociações entre os DISTRIBUIDORES e os REVENDEDORES. </p>
 
<p>CLÁUSULA VIGÉSIMA TERCEIRA – O Posto Livre não será responsável pelo efetivo cumprimento das obrigações assumidas pelos DISTRIBUIDORES e pelos REVENDEDORES. </p>
 
<p>CLÁUSULA VIGÉSIMA QUARTA – Os DISTRIBUIDORES e os REVENDEDORES reconhecem e aceitam que, ao realizarem negociações entre si, o fazem por sua conta e risco, reconhecendo o POSTO LIVRE como mero fornecedor de serviços de disponibilização de espaço virtual, com aproximação das partes interessadas e meios de realizar o negócio entre as mesmas (marketplace em plataforma digital). </p>
 
<p>CLÁUSULA VIGÉSIMA QUINTA – Em nenhum caso o POSTO LIVRE será responsável pelo lucro cessante ou por qualquer outro dano e/ou prejuízo que os DISTRIBUIDORES e os REVENDEDORES possam sofrer devido às negociações realizadas ou não realizadas por meio da plataforma digital, decorrentes de condutas que contrariem o presente “Contrato de Uso do Posto Livre” e/ou legislação pertinente.</p>
 
<p>CLÁUSULA VIGÉSIMA SEXTA – Os DISTRIBUIDORES e os REVENDEDORES assumem total responsabilidade por todos os prejuízos, diretos e indiretos, inclusive indenizações por danos morais e danos materiais, lucros cessantes, honorários advocatícios e demais encargos judiciais e extrajudiciais que o POSTO LIVRE seja obrigado a incorrer em virtude de ato comissivo ou omissivo seus.</p>
 
<p>CLÁUSULA VIGÉSIMA SÉTIMA – ALCANCE DOS SERVIÇOS – Este “Contrato de Uso do Posto Livre” não gera qualquer contrato de sociedade, mandato, franquia ou qualquer espécie de relação de trabalho entre o POSTO LIVRE e os DISTRIBUIDORES e os REVENDEDORES. </p>
 
<p>CLÁUSULA VIGÉSIMA OITAVA – Os DISTRIBUIDORES e os REVENDEDORES manifestam ciência de que o POSTO LIVRE não é parte de qualquer negociação realizada entre eles, nem possui controle algum sobre a existência, qualidade, quantidade, segurança ou legalidade dos produtos negociados, bem como sobre a veracidade ou exatidão das intenções e/ou pedidos de compra apresentados pelos REVENDEDORES e sobre a capacidade de ambos os usuários para negociar.</p>
 
<p>PARÁGRAFO ÚNICO – Os DISTRIBUIDORES e os REVENDEDORES reconhecem, de plano, que o POSTO LIVRE não possui qualquer relação societária com eles, não integrando, portanto, seus quadros societários previstos em contratos sociais, estatutos ou qualquer outro instrumento de constituição societária ou empresarial.</p>
 
<p>CLÁUSULA VIGÉSIMA NONA– O POSTO LIVRE não pode assegurar o êxito de qualquer negociação realizada entre DISTRIBUIDORES E REVENDEDORES, tampouco se responsabiliza pelas consequências da negociação.</p>
 
<p>CLÁUSULA TRIGÉSIMA – FALHAS NO SISTEMA – O POSTO LIVRE não se responsabiliza por qualquer dano, prejuízo ou perda sofridos pelos DISTRIBUIDORES e/ou pelos REVENDEDORES em razão de falhas na internet, no sistema ou no servidor utilizado por ambos, decorrentes de condutas de terceiros, caso fortuito ou força maior.</p>
<p> </p>
<p>PARÁGRAFO ÚNICO – O POSTO LIVRE também não será responsável por qualquer vírus que possa atacar o equipamento do usuário em decorrência do acesso, utilização ou navegação na internet ou como consequência da transferência de dados, arquivos, imagens, textos, vídeos ou áudio.</p>
 
<p>CLÁUSULA TRIGÉSIMA PRIMEIRA – O POSTO LIVRE se reserva no direito de modificar, a qualquer momento, as comissões a ele devidas, comprometendo-se a informar previamente, através do site, com antecedência de 10 (dez) dias, acerca das modificações realizadas. Tais alterações não vigorarão em relação às negociações já iniciadas na data em que aquelas forem publicadas. Para estas negociações, valerão os valores das comissões anteriores.</p>
 
<p>PARÁGRAFO ÚNICO – O POSTO LIVRE se reserva no direito de tomar as medidas judiciais e extrajudiciais pertinentes para receber os valores devidos.</p>
 
<p>CLÁUSULA TRIGÉSIMA SEGUNDA – PROPRIEDADE INTELECTUAL E LINKS – O uso comercial da expressão POSTO LIVRE como marca, nome empresarial ou nome de domínio, bem como os conteúdos das telas relativas aos serviços do POSTO LIVRE, assim como os programas, bancos de dados, redes, arquivos que permitem aos DISTRIBUIDORES e REVENDEDORES acessarem e usarem a sua conta são propriedades do POSTO LIVRE e estão protegidos pelas leis e tratados internacionais de direito autoral, marcas, patentes, modelos e desenhos industriais. O uso indevido e a reprodução total ou parcial dos referidos conteúdos são proibidos, salvo a autorização prévia e expressa por escrito do POSTO LIVRE.</p>
 
<p>CLÁUSULA TRIGÉSIMA TERCEIRA – O POSTO LIVRE não cederá, tampouco negociará, sob qualquer hipótese, as informações e dados pessoais dos usuários, para terceiros, nem para outros usuários.</p>
 
<p>CLÁUSULA TRIGÉSIMA QUARTA – INDENIZAÇÃO – Os DISTRIBUIDORES e os REVENDEDORES indenizarão o POSTO LIVRE por qualquer demanda promovida por outros usuários ou terceiros decorrentes de suas atividades na plataforma digital ou por seu descumprimento do “Contrato de Uso do Posto Livre” e demais políticas do POSTO LIVRE, ou pela violação de qualquer lei ou direitos de terceiros, incluindo honorários de advogados.</p>
 
<p>CLÁUSULA TRIGÉSIMA QUINTA – LEGISLAÇÃO APLICÁVEL E FORO DE ELEIÇÃO – Todos os itens deste “Contrato de Uso do Posto Livre” são regidos pelas leis vigentes na República Federativa do Brasil. Para todos os assuntos referentes à interpretação, ao cumprimento ou qualquer outro questionamento relacionado a este “Contrato de Uso do Posto Livre”, as partes concordam em se submeter ao Foro da Cidade de João Pessoa, Estado da Paraíba, renunciando a qualquer outro.</p>
 
<p>CLÁUSULA TRIGÉSIMA SEXTA – Todas as requisições, correspondências, notificações ou pedidos de informação deverão ser enviadas para o endereço de e-mail disponibilizado pelo POSTO LIVRE. </p>





<!--                    <div>-->
<!--                        <div class="pl-modal-terms__content&#45;&#45;agree">-->
<!--                            <input class="styled-checkbox"-->
<!--                                id="checkbox-2" -->
<!--                                type="checkbox" -->
<!--                                value="value1">-->
<!--                            <label for="checkbox-2">Eu li e concordo com os Termos apresentados.</label>-->
<!--                        </div>-->
<!--                        -->
<!--                        <button class="pl-btn" @click="$emit('close')">-->
<!--                            Eu Aceito!-->
<!--                        </button>-->
<!--                    </div>-->
                </div> 
            </div>
        </div>
    </transition>
</template>
<script>
import PLTitle from '@/components/atoms/pl-title';

export default {
    components: {
        'pl-title': PLTitle,
    },
    name: 'modal',
    data: ()=> ({
        value: null,
        showModal: false,
    }),
    methods: {
       
    },
    mounted(){
        
    }
}
</script>
<style lang="scss">
.pl-modal-terms{
    font-family: $barlow-family; 
    &__backdrop{
        position: fixed;
        z-index: 10;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.3);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: opacity .3s ease;
    }
    &__body{
        width: 600px;
        height: 500px;
        background-color: #ffffff;
        text-align: left;
        border: 1px solid black;
        
        @include grid-media($smartphone-grid){
            width: 90%;
        }
    }
    &__header{
        border-bottom: 1px solid rgba(0, 0, 0, 0.08);
        display: flex;
        align-items: center;
        padding-left: 40px;
        height: 20%;
        &--title{
            width: 85%;
            h1{
                text-align: left;
                margin-bottom: 0px;
            }
            p{
                margin-top: 0px;
                font-family: $barlow-family;
            }
        }
        @media screen and(max-width: 400px){
            h1{
                font-size: 18px;
            }
            p{
                font-size: 12px;
            }
        }
        &--btn{
            text-align: right;
            button{
                cursor: pointer;
                width: 60px;
                height: 60px;
                position: relative;
                display: flex;
                align-content: center;
                align-items: center;
                text-align: center;
                border: none;
                background-color: #F0F0F0;
                img{
                    margin: auto;
                }
                border-radius: 20px;
                &:active{
                    border-radius: 20px;
                }
                &:focus{
                    outline: none;
                    box-shadow: 0 0 3pt 2pt $yellow;
                }
                @include grid-media($smartphone-grid){
                    width: 40px;
                    height: 40px;
                    margin-right: 20px;
                    margin-top: -30px;
                }
            }
        }

    }
    &__content{
        height: 80%;
        display: flex;
        flex-direction: column;
        padding: 20px 40px 20px 40px;
        overflow: scroll;
        font-family: $roboto-family;
        h2{
            text-align: center;
            color: $grey;
            margin-top: 0px;
        }
        p{
            width: 100%;
            margin-bottom: 5px;
            margin-top: 5px;
        }
        &--agree{
            margin-bottom: 10px;
        }
        div{
            .styled-checkbox {
                position: absolute;
                opacity: 0;
                & + label {
                    position: relative;
                    cursor: pointer;
                    padding: 0;
                }
                // Box.
                & + label:before {
                    content: '';
                    margin-right: 5px;
                    display: inline-block;
                    vertical-align: middle;
                    margin-bottom: 2px;
                    width: 15px;
                    height: 15px;
                    border: 1px solid $grey;
                    border-radius: 2px;
                }

                // Box hover
                &:hover + label:before {
                    background: $yellow;
                }
                
                // Box focus
                &:focus + label:before {
                    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);
                }

                // Box checked
                &:checked + label:before {
                    background: $yellow;
                }
                
                // Disabled state label.
                &:disabled + label {
                    color: #b8b8b8;
                    cursor: auto;
                }

                // Disabled box.
                &:disabled + label:before {
                    box-shadow: none;
                    background: #ddd;
                }

                // Checkmark. Could be replaced with an image
                &:checked + label:after {
                    content: '';
                    position: absolute;
                    left: 3px;
                    top: 9px;
                    background: white;
                    width: 2px;
                    height: 2px;
                    box-shadow: 
                        2px 0 0 white,
                        4px 0 0 white,
                        4px -2px 0 white,
                        4px -4px 0 white,
                        4px -6px 0 white,
                        4px -8px 0 white;
                    transform: rotate(45deg);
                }
            }
            margin-top: 20px;
            font-family: $roboto-family;
            color: $grey;
            span{
                margin-bottom: 10px;
            }
            .pl-btn{
                text-align: center;
                width: 100%;
                display: block;
            }
        }
        
    }
}
</style>
