<template>
    <div v-if="!isOverdue">
        <pl-badge :class-prop="this.duration.hours() >= 2 ? 'success' : 'warning'">
            <span>{{ this.duration.hours() }}:{{ this.durationMinutes }}:{{ this.durationSeconds }}</span>
        </pl-badge>
    </div>
    <div v-else>
        <pl-badge v-if="leilaoEnded" :class-prop="'default'">
            Finalizado
        </pl-badge>
        <pl-badge  v-if="!leilaoEnded" :class-prop="'success'">
            Em leilão
        </pl-badge>
    </div>
</template>

<script>
import moment from "moment";
import PlBadge from "./pl-badge";
export default {
    components: { PlBadge },
    props: {
        auction: {
            type: Object
        },
        dateStart: {
            type: Date
        },
        dateFinish: {
            type: Date
        },
    },
    data() {
        var startDate ;
        var finishtDate ;
        if(this.$props.dateStart){
            startDate = moment(this.$props.dateStart);
            startDate.add(5, 'hours');
        }else {
            startDate = moment(this.$props.auction.date_finish);
        }
        finishtDate = moment(this.$props.auction.date_finish);
        return {
            eventTimeStart: startDate,
            eventTimeFinish: finishtDate,
            currentTime: moment(),
            interval: 1000,
            eventIsEmitted: false
        };
    },
    created() {
        setInterval(this.refreshCurrentTime, this.interval);
    },
    watch: {
        // auction: function(newValue) {
        //     this.getTimeLeft();
        //     this.getTimeToObject();
        //     this.auctionProp = newValue;
        // }
    },
    destroyed() {
        clearInterval(this.refreshCurrentTime);
    },
    computed: {
        diffTime() {
            return this.eventTimeStart.unix() - this.currentTime.unix();
        },
        difTimeToFinish() {
            return this.eventTimeFinish.unix() - this.currentTime.unix();
        },
        duration: {
            get() {
                return moment.duration(this.diffTime*1000, 'milliseconds');
            },
        },
        durationMinutes() {
            return Math.abs(this.duration.minutes()) < 10 ? '0' + Math.abs(this.duration.minutes()): Math.abs(this.duration.minutes());
        },
        durationSeconds() {
            return Math.abs(this.duration.seconds()) < 10 ? '0' + Math.abs(this.duration.seconds()): Math.abs(this.duration.seconds());
        },
        isOverdue() {
            /* if(!this.eventIsEmitted && this.diffTime < 0)
                this.emitEvent();    */
            return this.diffTime < 0;
        },
        leilaoEnded() {
            if(!this.eventIsEmitted && this.difTimeToFinish < 0)
                this.emitEvent();   
            return this.difTimeToFinish < 0;

        }
    },
    methods: {
        emitEvent() {
            this.eventIsEmitted = true;
            console.log("event being emited");
            this.$emit('handleOverdue', true)
        },

        refreshCurrentTime() {
            this.currentTime = moment();
        },
    }
};
</script>
